/* Dark Theme Colors */
body.dark-theme {
    --bg-color:         #262626;
    --bg-color-2:       #313131;

    --text-color:       #FFD7AF;
    --external-color:   #6C6C6C;
    --operator-color:   #FF5F5F;
    --function-color:   #87AF87;
    --parameter-color:  #FF8700;
    --comment-color:    #808080;
    --string-color:     #AFAF00;
    --numbers-color:    #D787AF;

    --nav-bg-color:     #3A3A3A;
    --nav-fg-color:     #6C6C6C;
}

body.light-theme {
    --bg-color:         #E4E4E4;
    --bg-color-2:       #EAEAEA;

    --text-color:       #5F8787;
    --external-color:   #9E9E9E;
    --operator-color:   #D787AF;
    --function-color:   #00AF87;
    --parameter-color:  #D75F00;
    --comment-color:    #9E9E9E;
    --string-color:     #5FAF00;
    --numbers-color:    #AF8700;

    --nav-bg-color:     #DADADA;
    --nav-fg-color:     #626262;
}

body.dark-theme li.social {
    filter: invert(42%) sepia(10%) saturate(10%)
            hue-rotate(345deg) brightness(93%) contrast(77%);
}

body.dark-theme li.social:hover {
    filter: invert(66%) sepia(11%) saturate(7449%)
            hue-rotate(24deg) brightness(97%) contrast(101%);
}

body.light-theme li.social {
    filter: invert(34%) sepia(9%) saturate(17%)
            hue-rotate(333deg) brightness(105%) contrast(87%);
}

body.light-theme li.social:hover {
    filter: invert(56%) sepia(48%) saturate(3572%)
            hue-rotate(52deg) brightness(98%) contrast(101%);
}

body.dark-theme img#theme {
    filter: invert(42%) sepia(10%) saturate(10%)
            hue-rotate(345deg) brightness(93%) contrast(77%);
    content: url("../icons/sun.png");
}
body.dark-theme img#theme:hover {
    filter: invert(66%) sepia(11%) saturate(7449%)
            hue-rotate(24deg) brightness(97%) contrast(101%);
}

body.light-theme img#theme {
    filter: invert(34%) sepia(9%) saturate(17%)
            hue-rotate(333deg) brightness(105%) contrast(87%);
    content: url("../icons/moon-solid.svg");
}
body.light-theme img#theme:hover {
    filter: invert(56%) sepia(48%) saturate(3572%)
            hue-rotate(52deg) brightness(98%) contrast(101%);
}

table.code tr > :first-child   { color: var(--external-color); }

table.footer-content td > a { color: var(--nav-fg-color); }

nav             { color: var(--nav-fg-color); }

span.txt        { color: var(--text-color); }
span.oper       { color: var(--operator-color); }
span.func       { color: var(--function-color); }
span.param      { color: var(--parameter-color); }
span.comment    { color: var(--comment-color); }
span.str        { color: var(--string-color); }
span.num        { color: var(--numbers-color); }

span.hghlhgt {
    -webkit-animation: 1.5s blink step-end infinite;
    -moz-animation: 1.5s blink step-end infinite;
    -ms-animation: 1.5s blink step-end infinite;
    -o-animation: 1.5s blink step-end infinite;
    animation: 1.5s blink step-end infinite;
}


@keyframes "blink"{
    from, to {
        color: var(--bg-color);
        background: var(--parameter-color);
    }
    50% {
        background: var(--bg-color);
        color: var(--parameter-color);
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: var(--bg-color);
        background: var(--parameter-color);
    }
    50% {
        background: var(--bg-color);
        color: var(--parameter-color);
        background: transparent;
    }
}

@-moz-keyframes "blink" {
    from, to {
        color: var(--bg-color);
        background: var(--parameter-color);
    }
    50% {
        background: var(--bg-color);
        color: var(--parameter-color);
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: var(--bg-color);
        background: var(--parameter-color);
    }
    50% {
        background: var(--bg-color);
        color: var(--parameter-color);
    }
}

@-o-keyframes "blink" {
    from, to {
        color: var(--bg-color);
        background: var(--parameter-color);
    }
    50% {
        background: var(--bg-color);
        color: var(--parameter-color);
    }
}
