@import "size_layout.css";
@import "script.css";
@import "colorschemes.css";

html {
    overflow-x: hidden;

    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Latin Modern Mono Prop Light";

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

section {
    display: grid;

    grid-template-rows: 5vh 10vh max-content 5vh;
    grid-template-columns: 10% 1fr 10%;

    position: relative;
}

a { text-decoration: none; }
