/**
 * @import "size_layout.css";
 * @import "script.css";
 */

@import "colorschemes.css";
@import "layout.css";
@import "sizes.css";

html {
    overflow-x: hidden;
    scroll-behavior: smooth;

    height: 100%;
}

body {
    overflow-x: hidden;
    font-family: monospace;
}

main { position: relative; }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
ul { list-style: none; }

header {
    position: fixed;
    text-align: center;
    z-index: 2;
}


.header-title:hover { color: var(--string-color); }
nav li:hover { color: var(--string-color); }

img#theme { cursor: pointer; }

a.a-contact:hover { font-weight: bold;}
table.code tr > :first-child {
    padding-right: 0.5em;
    float: right;
}

body {
    background-color: var(--bg-color);
    color:            var(--text-color);
}
header {
    background: var(--nav-bg-color);
    color: var(--nav-fg-color);
}
footer {
    background: var(--nav-bg-color);
    color: var(--nav-fg-color);
}
div.card-project { background: var(--nav-bg-color)}
tr.row-link:hover { background: var(--nav-bg-color); }

section#about, section#projects { background: var(--bg-color-2); }

