div.nav-container {
    opacity: 1;
    position: fixed;
    z-index: 1;
}

nav { margin: auto; }

nav > b {
    margin: auto;
    padding: auto;

    float: left;
}

nav > ul {
    display: flex;
    list-style: none;

    float: right;
}

nav ul > li { padding: 1rem; }

table.code { border-collapse: collapse; }

table.code > td { padding: 0px; }

table.code tr > :first-child { text-align: right; }

div#main {
    display: grid;
    position: relative;
}


div#description {
    display: grid;

    position: relative;
}

.hghlhgt {
    -webkit-animation: 1.5s blink step-end infinite;
    -moz-animation: 1.5s blink step-end infinite;
    -ms-animation: 1.5s blink step-end infinite;
    -o-animation: 1.5s blink step-end infinite;
    animation: 1.5s blink step-end infinite;
}

div.footer {
    position: relative;
    display: grid;
}


table.footer-content {
    border-collapse: collapse;
    text-align: left;
}

table.footer-content th { font-weight: bold; }
